@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
--Blue400: hsl(180, 66%, 49%);
--Purple950: hsl(257, 27%, 26%);
--Red400: hsl(0, 87%, 67%);
--Gray400: hsl(0, 0%, 75%);
--Gray500: hsl(257, 7%, 63%);
--Gray900: hsl(255, 11%, 22%);
--Gray950: hsl(260, 8%, 14%);
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 20px 30px;
    background-color: hsl(0, 0%, 100%);
}

.header-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 20px;
}

.header-description-title{
    font-size: 40px;
    font-weight: 700;
}

.header-container-description{
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 20px 0;
    padding: 20px 30px;
}

.header-description-text{
    margin-top: 10px;
    color: var(--Gray900);
}

.header-btn{
    width: 50%;
    height: 50px;
    border-radius: 24px;
    margin-top: 25px;
    border: none;
    background-color: var(--Blue400);
    color: white;
    font-size: 18px;
    font-weight: 500;
}


/*Shorten Link Container */
.shorten-link-container{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.link-container{
    width: 80%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: var(--Purple950);
    background-image: url(/url-shortening-api-master/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;

}

.link-container-input{
    width: 100%;
    height: 35%;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.link-container-btn{
    width: 100%;
    height: 35%;
    color: white;
    font-size: 19px;
    border: noine;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--Blue400);
}

.advanced-statistics{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.statistic-title{
    font-size: 30px;
    font-weight: 800;
    color: var(--Gray900);
}

.statistics-text{
    color: var(--Gray900);
}

/* Cartas */

.personalizes-cards{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    gap: 20px;
    border: 1px solid gray;
}



/*Boost*/
.boost-container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    border: 2px solid purple;
}

/* Footer */
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
}

.footer-container-links{
    width: 100%;
    height: 100px;
    text-align: center;
    align-self: center;
}

.footer-container-social{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
}