@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
--Blue400: hsl(180, 66%, 49%);
--Purple950: hsl(257, 27%, 26%);
--Red400: hsl(0, 87%, 67%);
--Gray200: hsl(0, 7%, 91%);
--Gray400: hsl(0, 0%, 75%);
--Gray500: hsl(257, 7%, 63%);
--Gray900: hsl(255, 11%, 22%);
--Gray950: hsl(260, 8%, 14%);
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 20px 30px;
    background-color: hsl(0, 0%, 100%);
}

.header-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 20px;
}

.header-description-title{
    font-size: 40px;
    font-weight: 700;
}

.header-container-description{
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 20px 0;
    padding: 20px 30px;
}

.header-description-text{
    margin-top: 10px;
    color: var(--Gray900);
}

.header-menu{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header-btn{
    width: 50%;
    height: 50px;
    border-radius: 24px;
    margin-top: 25px;
    border: none;
    background-color: var(--Blue400);
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


/*Shorten Link Container */
.shorten-link-container{
    width: 100%;
    height: auto;
    margin-top: 200px;
    background-color: var(--Gray200);
    position: relative;
}

.link-container{
    width: 80%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--Purple950);
    background-image: url(/url-shortening-api-master/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.link-container-input{
    width: 100%;
    height: 35%;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.link-container-btn{
    width: 100%;
    height: 35%;
    color: white;
    font-size: 19px;
    border: noine;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--Blue400);
    cursor: pointer;
}

.advanced-statistics{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.statistic-title{
    font-size: 30px;
    font-weight: 800;
    color: var(--Gray900);
}

.statistics-text{
    color: var(--Gray500);
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

/* Cartas */
.personalizes-cards{
    width: 85%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
    padding: 50px 25px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: white;
}

.card-title{
    font-size: 30px;
    font-weight: 700;
    color: var(--Gray900);
    margin-top: 20px;
}

.card-text{
    color: var(--Gray500);
    font-weight: 500;
    font-size: 17px;
}

.purple-circle{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: var(--Purple950);
    position: absolute;
    top: -50px;
}

.img-card{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 20px;   
}

.div-transparent-position{
    width: 100%;
    height: 170px;
}

.div-transparent{
    width: 100%;
    height: 100px;
}
/* Card Stick */
.card-stick{
    width: 10px;
    height: 57px;
    background-color: var(--Blue400);
    position: absolute;
    top: 46%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.card-stick-2{
    width: 10px;
    height: 59px;
    background-color: var(--Blue400);
    position: absolute;
    top: 71%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}


/*Boost*/
.boost-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    background-color: var(--Purple950);
    background-image: url(/images/bg-boost-mobile.svg);
}

.boost-title{
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.boost-btn{
    width: 50%;
    height: 50px;
    border-radius: 24px;
    border: none;
    background-color: var(--Blue400);
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


/* Footer */
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--Gray950)
}

.footer-shortly{
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

.footer-container-links{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    align-self: center;
    margin-top: 20px;
}

.footer-title{
    color: white;
    font-size: 20px;
}

.footer-text{
    color: var(--Gray400);
}

.footer-container-social{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}